.overlay{

position:fixed;
inset:0;
background:rgba(0,0,0,.4);
z-index:90;

}

.sidebar{

position:fixed;
top:0;
right:-300px;

width:300px;
height:100vh;

background:#0f172a;

padding:25px;

transition:.35s;

z-index:100;

}

.show{
right:0;
}

.profile{

display:flex;
gap:12px;
align-items:center;

margin-bottom:30px;

}

.avatar{

width:42px;
height:42px;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

background:linear-gradient(135deg,#5b8cff,#7aa2ff);

color:white;
font-weight:600;

}

.name{
color:white;
font-size:15px;
}

.email{
font-size:12px;
color:#94a3b8;
}

.menu{

display:flex;
flex-direction:column;
gap:10px;

}

.menu button{

padding:10px;

border:none;

background:#1e293b;

color:white;

border-radius:6px;

cursor:pointer;

text-align:left;

}

.menu button:hover{
background:#334155;
}

.active{
background:#5b8cff !important;
}

.logout{
background:#ef4444 !important;
}

.content{

margin-left:20px;
padding:40px;

}